main {
  min-height: 80vh;
}
footer .badge {
  padding: 0 10px;
  line-height: 22px;
}
h3 {
  padding: 16px 0 0;
}
.rating span {
  margin: 0.1rem;
}
.rating span:last-child {
  margin-left: 5px;
}
.card .card-img-top {
  object-fit: cover;
}

@media (max-width: 575.98px) {
  h3 {
    padding: 8px 0 0;
  }
  .latestProductsRow {
    margin-right: 0px !important;
    margin-left: 0px !important;
    display: grid !important;
    grid-template-columns: repeat(2, calc(50% - 4px));
    width: 100% !important;
    grid-gap: 8px !important;
    box-sizing: border-box;
  }
  .latestProductsRow .cardContainer {
    padding: 0px !important;
  }
  .cardContainer .card-body {
    padding: 8px;
  }
  .card .card-title {
    height: 3em;
    max-height: 3em !important;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
  }
}

div.list-group-flush div.list-group-item {
  padding: 20px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000 !important;
  opacity: 0.7;
  box-shadow: 0 0 5px #ffffff;
  padding: 5px;
  border-radius: 50%;
  background-size: 50% 50% !important;
}

.dropdown-menu {
  /* position: absolute !important; */
  animation: growDown 100ms ease-out forwards;
  transform-origin: top center;
  left: unset !important;
  right: 25% !important;
  /* float: right; */
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
